a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

.display {
  display: none;
}

@media screen and (max-width: 768px) {
  .ocultar {
    display: none;
  }
}

body {
  background: linear-gradient(240deg, #fff1f1, white);
  font-family: "Handlee", cursive;
  font-size: 1.5em;
}

.card-title {
  text-transform: capitalize;
}

li {
  text-transform: capitalize;
}

#listaHover {
  font-size: 8px;
}

#listaHover:hover {
  font-size: 18px;
}

#listaHover span a:hover {
  font-size: 22px;
  color: red;
  overflow: hidden;
}

.color-type-fire {
  background-color: rgba(255, 0, 0, 0.25);
}

.color-type-electric {
  background-color: rgba(255, 255, 0, 0.25);
}

.color-type-psychic {
  background-color: rgba(255, 0, 255, 0.25);
}

.color-type-poison {
  background-color: rgba(0, 255, 64, 0.205);
}

.color-type-grass {
  background-color: rgba(115, 255, 0, 0.25);
}

.color-type-flying {
  background-color: rgba(219, 252, 255, 0.13);
}

.color-type-water {
  background-color: rgba(0, 174, 255, 0.26);
}

.color-type-normal {
  background-color: rgba(255, 219, 119, 0.13);
}

.color-type-rock {
  background-color: rgba(219, 161, 0, 0.185);
}

.color-type-ground {
  background-color: rgba(117, 91, 20, 0.26);
}

.color-type-dark {
  background-color: rgba(32, 32, 32, 0.2);
}

.color-type-ice {
  background-color: rgba(0, 234, 255, 0.082);
}

.color-type-steel {
  background-color: rgba(76, 77, 78, 0.082);
}

.color-type-dragon {
  background-color: rgba(255, 185, 34, 0.082);
}

.color-type-ghost {
  background-color: rgba(255, 34, 218, 0.151);
}

.color-type-fairy {
  background-color: rgba(255, 0, 106, 0.075);
}
/*# sourceMappingURL=style.css.map */